@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.blur-filter{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(243, 243, 243, 0.2);
}

.line-up{
    background-color: black;
    height: 2px;
    width: 130px;
    border-radius: 2px;
}

.default-box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
}

nav{
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 12px 10px 8px 10px;
    top: 0;
    position: fixed;
    border-radius: 0 0 5px 5px;
}

label > img{
    height: 27px;
}

nav > ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

input#hamburguer-menu{
    visibility: hidden;
}

input#hamburguer-menu ~ ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: -50px;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 10;
    display: none;
    padding: 2rem;
}

input#hamburguer-menu:checked ~ ul{
    display: flex;
}

/* <!-- --> */

/* <!-- --> */

#home{
    width: 100%;
    height: 75vh;
    padding-top: 50px;
}

.home{
    height: 100%;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    background-image: url(../images/elegant-cat.jpg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: top;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.sqr2{
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sqr2 > .line-up{
    margin: 10px 0;
}

.social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    height: 40px;
    margin-top: 5px;
}

.social-media > a > img{
    height: 40px;
}

.sqr2 > a{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-white-png{
    height: 15px;
    margin-right: 7px;
}

.email-black-png{
    height: 15px;
    margin-right: 7px;
    display: none;
}

.sqr-me{
    display: none;
}

/* <!-- --> */

/* <!-- --> */

#about-me{
    width: 100%;
    height: 75vh;
    padding-top: 50px;
}

.about-me{
    position: relative;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.about-me-info{
    position: absolute;
    top: 12%;
    left: 3%;
    right: 3%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-me-info > p {
    font-size: 0.8rem;
}

.education{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.school{
    width: 47%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.school > img{
    width: 100px;
    height: 100px;
}

.school > p{
    font-size: 0.7rem;
}

/* <!-- --> */

/* <!-- --> */

#skills{
    width: 100%;
    height: 85vh;
    padding-top: 50px;
}

.skills{
    padding: 0.5rem;
    height: 90%;
}

.skills-container{
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill{
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skill-percentage{
    width: 25%;
    height: 50%;
}

.skill-percentage > .line-up{
    width: 100%;
    height: 5px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    background-color: gray;
}

.percentage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 5px);
}

.skill-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.skill-info > p{
    font-size: 0.7rem;
}

.line-up-post{
    background-color: black;
    border-radius: 5px 5px 5px 0;
}

div > .first-ptg{
    height: 100%;
    width: 50%;
}

div > .second-ptg{
    height: 100%;
    width: 0%;
}

div > .third-ptg{
    height: 100%;
    width: 80%;
}

div > .fourth-ptg{
    height: 100%;
    width: 5%;
}



/* <!-- --> */

/* <!-- --> */

#portfolio{
    width: 100%;
    height: 45vh;
}

.portfolio{
    padding: .5rem;
    height: 100%;
}

.projects-container{
    height: 85%;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    align-items: center;
    gap: 1.6rem;
    padding: 0 .6rem;
}

.project{
    height: 170px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.project-image{
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.project-image > img{
    height: 100%
}

.btyapp-svg{
    background-image: url(../images/beauty-app.svg);
}

.trnapp-svg{
    background-image: url(../images/training-app.svg);
}

.ctnbot-svg{
    background-image: url(../images/content-bot.svg);
}

.mgttls-svg{
    background-image: url(../images/management-tools.svg);
}

.project-info{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.project-info > p{
    font-size: 0.65rem;
}

/* <!-- --> */

/* <!-- --> */

footer{
    background-color: lightgray;
    width: 100%;
    height: 40vh;
    border-radius: 5px 5px 0 0;
}

.contact-me{
    padding: .5rem;
    height: 85%;
}

.contact-media-container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-media{
    background-color: white;
    height: 80%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.contact-media > img{
    height: 50px;
}

.contact-media > p{
    font-size: 0.65rem;
}

/* <!-- --> */

/*          Mobile First: Detalles          */

/* <!-- --> */

@media screen and ( min-width: 360px ){

    .about-me-info > p {
        font-size: 0.85rem;
    }

    .contact-media{
        background-color: white;
        height: 80%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem;
    }
}

@media screen and ( min-width: 360px ) and ( min-height: 700px ){

    .about-me-info > p {
        font-size: 1rem;
    }

}

@media screen and ( min-width: 375px ) and ( min-height: 630px ) {

    .about-me-info > p {
        font-size: 0.9rem;
    }
}

@media screen and ( min-width: 375px ) and ( min-height: 650px ) {

    .sqr > img{
        height: 250px; 
    }

    .about-me-info > p {
        font-size: 1rem;
    }

}

/* <!-- --> */

/*          Desktop          */

/* <!-- --> */

@media screen and ( min-width: 992px ){

    body::-webkit-scrollbar{
        width: 5px;
        background-color: white;
    }

    body::-webkit-scrollbar-thumb{
        background-color: black;
        border-radius: 5px;
    }

    .line-up{
        width: 260px;
        height: 4px;
        border-radius: 5px;
    }

    h2{
        font-size: 2rem;
    }

    h5{
        font-size: 1rem;
    }

    p{
        font-size: 1rem;
    }

    /* <!-- --> */

    /* <!-- --> */

    nav{
        padding: 5px .5rem 5px 5px;
    }

    nav > label{
        display: none;
    }

    ul > li > a{
        font-size: 1rem;
        border-radius: 3px;
        padding: 2px 7px;
        box-shadow: none;
        transition: box-shadow 0.2s linear;
    }

    ul > li >a:hover{
        box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -moz-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        transition: 0.2s;
        background-color: black;
        color: white;
    }

    ul > .line-up{
        display: none;
    }

    input#hamburguer-menu ~ ul{
        height: 100%;
        position: static;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: .5rem;
        display: flex;
        padding: 0;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        background-color: transparent;
        z-index: 0;
        bottom: none;
        right: none;
    }

    /* <!-- --> */

    /* <!-- --> */

    .home{
        padding: 1rem;
    }

    .info{
        width: 100%;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .sqr2{
        background-color: transparent;
        box-shadow: none;
        text-align: left;
        align-items: flex-start;
        padding-bottom: 1rem;
    }

    .sqr2 > h2{
        font-size: 3.5rem;
    }

    .sqr2 > h1{
        font-size: 5rem;
    }

    .social-media{
        justify-content: flex-start;
        height: 80px;
    }
    
    .social-media > a > img{
        height: 80px;
        border-radius: 5px;
        box-shadow: none;
        transition: box-shadow 0.1s linear;
    }

    .social-media > a > img:hover{
        box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -moz-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        transition: 0.2s;
    }

    .sqr2 > a{
        background-color: black;
        border-radius: 5px;
        height: 80px;
        font-size: 2rem;
        padding: 26px;
        border: 4px solid black;
        box-shadow: none;
        transition: box-shadow 0.2s linear;
        transition: background-color 0.2s linear;
    }

    .sqr2 > a > img{
        margin-right: 12px;
    }

    .sqr2 > a:hover{
        background-color: white;
        color: black;
        transition: 0.2s linear;
    }

    .email-white-png{
        height: 30px;
    }

    .sqr2 > a:hover > .email-white-png{
        display: none;
        transition: 0.2s linear;
    }

    .sqr2 > a:hover > .email-black-png{
        display: inline-block;
        height: 30px;
        transition: 0.2s linear;
    }

    .line-up ~ a:hover{
        box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -moz-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        transition: 0.2s;
    }

    .sqr-me{
        display: flex;
        height: 100%;
        width: 300px;
        align-items: flex-end;
    }

    .sqr-me > img{
        width: 300px;
    }

    /* <!-- --> */

    /* <!-- --> */

    .about-me{
        padding: 1rem;
    }

    .education{
        justify-content: center;
        gap: 2rem;
    }

    .school{
        width: 25%;
        height: 100%;
    }

    /* <!-- --> */

    /* <!-- --> */

    .skills{
        padding: 1rem;
    }

    .skills-container{
        align-items: center;
    }

    .skill{
        width: 60%;
    }

    .skill-percentage{
        width: 15%;
    }

    /* <!-- --> */

    /* <!-- --> */

    .portfolio{
        padding: 1rem;
    }

    .projects-container{
        display: flex;
        justify-content: space-around;
    }

    .project{
        height: 200px;
        width: 250px;
        box-shadow: 0px 0px 2px 0px rgba(104,104,104,0.75);
        -webkit-box-shadow: 0px 0px 2px 0px rgba(104,104,104,0.75);
        -moz-box-shadow: 0px 0px 2px 0px rgba(104,104,104,0.75);
        transition: box-shadow 0.1s linear;
    }

    .project:hover{
        cursor: pointer;
        box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -moz-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        transition: 0.2s;
    }

    /* <!-- --> */

    /* <!-- --> */

    .contact-me{
        padding: 1rem;
    }

    .contact-media-container{
        justify-content: center;
        gap: 2rem;
    }

    .contact-media{
        width: 20%;
        box-shadow: 0px 0px 2px 0px rgba(104,104,104,0.75);
        -webkit-box-shadow: 0px 0px 2px 0px rgba(104,104,104,0.75);
        -moz-box-shadow: 0px 0px 2px 0px rgba(104,104,104,0.75);
        transition: box-shadow 0.1s linear;
    }

    .contact-media:hover{
        cursor: pointer;
        box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        -moz-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
        transition: 0.2s;
    }

}

@media screen and ( min-width: 1300px ){

    .school{
        width: 20%;
    }

    /* <!-- --> */

    /* <!-- --> */

    .skill{
        width: 50%;
    }

    /* <!-- --> */

    /* <!-- --> */

    .projects-container{
        justify-content: space-evenly;
    }

    .project{
        height: 250px;
        width: 300px;
    }

}

@media screen and ( min-width: 1440px ){

    .sqr2 > h2{
        font-size: 4rem;
    }

    .sqr2 > h1{
        font-size: 5.5rem;
    }

}

@media screen and ( min-width: 1800px ){

    .sqr2 > h2{
        font-size: 4.5rem;
    }

    .sqr2 > h1{
        font-size: 6rem;
    }

    /* <!-- --> */

    /* <!-- --> */

    .school > p{
        font-size: 0.85rem;
    }

    /* <!-- --> */

    /* <!-- --> */

    .skill{
        width: 40%;
    }

    .skill-info > p{
        font-size: 0.85rem;
    }

    /* <!-- --> */

    /* <!-- --> */

    .project{
        height: 300px;
        width: 400px;
    }

    .project-info > p{
        font-size: 0.85rem;
    }

    /* <!-- --> */

    /* <!-- --> */

    .contact-media{
        width: 15%;
    }

    .contact-media > p{
        font-size: 0.85rem;
    }

}