@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.blur-filter{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(243, 243, 243, 0.2);
}

.line-up{
    background-color: black;
    height: 2px;
    width: 130px;
    border-radius: 2px;
}

.default-box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
}

nav{
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 12px 10px 8px 10px;
    top: 0;
    position: fixed;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(104,104,104,0.75);
}

label > img{
    height: 27px;
}

nav > ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

input#hamburguer-menu{
    visibility: hidden;
}

input#hamburguer-menu ~ ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: -50px;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 10;
    display: none;
    padding: 2rem;
}

input#hamburguer-menu:checked ~ ul{
    display: flex;
}

/* <!-- --> */

/* <!-- --> */

#home{
    width: 100vw;
    height: 75vh;
    padding-top: 50px;
}

.home{
    position: relative;
    height: 100%;
    padding: 10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.sqr > img{
    height: 180px; 
}

.sqr2{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    position: absolute;
    top: 40%;
    right: 10%;
}

.sqr2 > .line-up{
    margin: 10px 0;
}

.social-media{
    height: 40px;
    margin-top: 5px;
}

.social-media > img{
    height: 40px;
}

.sqr2 > button{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button > img{
    height: 15px;
    margin-right: 7px;
}

.services{
    width: 100vw;
    height: 35vh;
    background-color: gray;
    padding: 1rem;
    color: white;
}

.services > .line-up{
    margin: 0;
    background-color: white;
}

.services-container{
    display: flex;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

.srvcs-sqr{
    background-color: white;
    width: 120px;
    height: 130px;
}

/* <!-- --> */

/* <!-- --> */

#about-me{
    width: 100vw;
    height: 75vh;
    padding-top: 50px;
}

.about-me{
    position: relative;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.about-me-info{
    position: absolute;
    top: 12%;
    left: 3%;
    right: 3%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-me-info > p {
    font-size: 0.8rem;
}

.education{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.school{
    width: 47%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.school > img{
    width: 100px;
    height: 100px;
}

.school > p{
    font-size: 0.7rem;
}

/* <!-- --> */

/* <!-- --> */

#skills{
    width: 100vw;
    height: 85vh;
    padding-top: 50px;
}

.skills{
    padding: 0.5rem;
    height: 90%;
}

.skills-container{
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill{
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skill-percentage{
    width: 25%;
    height: 50%;
}

.skill-percentage > .line-up{
    width: 100%;
    height: 5px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    background-color: gray;
}

.percentage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 5px);
}

.skill-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.skill-info > p{
    font-size: 0.7rem;
}

.line-up-post{
    background-color: black;
    border-radius: 5px 5px 5px 0;
}

div > .first-ptg{
    height: 100%;
    width: 50%;
}

div > .second-ptg{
    height: 100%;
    width: 0%;
}

div > .third-ptg{
    height: 100%;
    width: 80%;
}

div > .fourth-ptg{
    height: 100%;
    width: 5%;
}



/* <!-- --> */

/* <!-- --> */

#portfolio{
    width: 100vw;
    height: 45vh;
}

.portfolio{
    padding: .5rem;
    height: 100%;
}

.projects-container{
    height: 85%;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    align-items: center;
    gap: 1.6rem;
    padding: 0 .6rem;
}

.project{
    height: 170px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.project-image{
    height: 70%;
    background-image: url(../images/beauty-app.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.project-image > img{
    height: 100%
}

.project-info{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.project-info > p{
    font-size: 0.7rem;
}

/* <!-- --> */

/* <!-- --> */

footer{
    background-color: lightgray;
    width: 100vw;
    height: 40vh;
    border-radius: 5px 5px 0 0;
}

.contact-me{
    padding: .5rem;
    height: 85%;
}

.contact-media-container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-media{
    background-color: white;
    height: 80%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.contact-media > img{
    height: 50px;
    width: 50px;
}

.contact-media > p{
    font-size: 0.65rem;
}

@media screen and ( min-width: 360px ){
    .about-me-info > p {
        font-size: 0.85rem;
    }
}

@media screen and ( min-width: 375px ) and ( min-height: 630px ) {

    .sqr2{
        width: fit-content;
        height: fit-content;
        padding: 10px;
        position: absolute;
        top: 45%;
        right: 16%;
    }

    .about-me-info > p {
        font-size: 0.9rem;
    }

    .contact-media{
        background-color: white;
        height: 80%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem;
    }
}

@media screen and ( min-width: 375px ) and ( min-height: 650px ) {

    .sqr > img{
        height: 250px; 
    }

    .about-me-info > p {
        font-size: 1rem;
    }

}